/* This file will hold styles that are loaded using the same media query as the wide grid. */
/*body{background:blue;}
input.form-text{
	width:290px;
}
#region-branding{
	background: url(../images/bannersup7.jpg) no-repeat #036;
	border: 1px solid #fff;	
}
#region-menu{
	background: url(../images/menu-background.gif) repeat-x #369;
}*/
