/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/*.flexslider{
	display:none;
}*/
body {
	background: #dbdbdb url("../images/body_bg.png");
}
h1{
    color: #383838;
}
#zone-user{
	background: url("../images/header_bg.png") repeat-x scroll 0 0 transparent;
	height: 87px;
}


#zone-branding-wrapper {
    /*
    fix for ie z-index problem, add this on the top container that holds your menu block
    */
    position:relative;
    z-index:2
}
#block-system-main-menu {
    margin-bottom:1em;
}
#block-system-main-menu ul.menu {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;

}
#block-system-main-menu ul.menu li a {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
    border: 1px solid #E5E5E5;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    border-image: none;
    box-shadow: 1px 0 rgba(255, 255, 255, 0.75);        
    color:#383838;
    display: block;
    line-height: 1em;
    /*padding: 0.5em;*/
    outline:none;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    
}
#block-system-main-menu ul.menu li a.active{
    /*background: -moz-linear-gradient(center top , #FFFFFF 0%, #F25824 50%) repeat scroll 0 0 transparent;*/
    background: #F25824;
    border-radius: 3px;
    -moz-border-radius:30px;    
    color: #FFF;
    /*padding-top: 1em;
    padding-bottom: 1em;*/
}
#block-system-main-menu ul.menu li.leaf{
    list-style-image: none;
    list-style-type: none;
    padding: 0;
    top: -1px;
}
#block-system-main-menu ul.menu li.expanded {
    list-style-image: none;
    list-style-type: none;
    top: -1px;
}
#block-system-main-menu ul.menu li.expanded{
    top: -1px;
}
#block-system-main-menu ul.menu li a:hover {
    background:#383838;
    color: #FFF;
    text-decoration:none;    
}
#block-system-main-menu ul.menu li span.over {
    background:#CCC;
    color: #000000;
    display: block;
    float: right;
    height: 33px;
    line-height: 30px;
    /*padding: 0 0.5em;*/
    text-align: center;
    cursor:pointer
}
#block-system-main-menu ul.menu li span.over:hover {
    background:#F25824;
    color:#FFF
}
#block-system-main-menu ul.menu ul {
    margin:0;
    padding:0;
    display:none;    
}
#block-system-main-menu ul.menu ul li a {
    
    color:#FFF;
    display: block;
    background:#383838;
    border-top: 1px solid #4D4D4D;
    border-bottom: 1px solid #262626;    
    padding: 8px 15px;
    text-decoration:none;
    text-indent:0;

}
#block-system-main-menu ul.menu ul li a:hover {
    background: #F25824;
    color: #fff;
}
#block-system-main-menu ul.menu ul li a.last {
    border-bottom: none;
}
.menu-toggle {
  background: #383838;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  clip: inherit;
  display: block;
  height: 36px;
  margin: 0;
  padding: 0;  
  left: 10px;
  /* LTR */
  top: -132px;

}
.menu-toggle:hover {background: #F25824; }
  .menu-toggle .toggle-help {
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
    position: absolute;
    left: 45px;
    /* LTR */
    top: 6px; }
  .menu-toggle .line {
    border-bottom: 2px solid #CCC;
    display: block;
    margin: 4px auto 4px auto;
    width: 26px; }
  .menu-toggle .first-line {
    padding-top: 4px; }
  .menu-toggle .last-line {
    padding-bottom: 0; }
#block-system-main-menu a.parent:after{
    background: url('../images/orange-bullet.png') no-repeat !important;
    content: "";
    display: inline-block;
    height: 10px;
    left: 0.7em;
    position: absolute;
    width: 10px;
}
#block-system-main-menu a.parent:hover{
    background: #383838 !important;       
}
/*
    Forms
*/
/* Search box*/
input.form-text {
    width: 17em;
}
/*
    IMG
*/
/*img {
    max-width: 100% !important;
    padding: 5px;
}*/
.img-izq{
    float: left;
}
.img-der{
    float: right;
}
/*
    LIST 
*/
ul.menu li.active {
    color:#F25824 !important;
}
/*
    ZONE POSTSCRIPT
*/
#zone-postscript-wrapper{
    background: #383838;
    border-top: 5px solid #F25824;
    color: #fff;
}
#zone-postscript-wrapper a{
    color:#FFF;
    text-decoration: none;
}
#zone-postscript-wrapper a:hover{
    color:#F25824;
    text-decoration: none;
}
/*
    ZONE FOOTER
*/
#zone-footer-wrapper{
    background: #F25824;
    border-top: 5px solid #333333;
    color: #FFF;
}
/*
    H2
*/
h2.node-title a{
    color: #383838;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
}
h2.node-title a:hover{
    color: #F25824;
    text-decoration: none;
}
h2.block-title{
    font-family: 'Open Sans',sans-serif;
    color: #F25824;
}
.item-list a{   
    color: #383838;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
}
.item-list a:hover{
    color: #F25824;
    text-decoration: none;
}
.submitted{
    color: #F25824;
}
#block-blog-recent ul li{
    list-style-image: url("../images/orange-bullet.png");
}
/*
    SLIDESHOW FLEXSLIDER
*/
/*
    ZONE CONTENT
*/
#zone-content-wrapper img{
    max-width: 100%;
}



