#block-system-main-menu {
    background: #333333;
}
#block-system-main-menu li ul li {
    width: 200px;
}
#block-system-main-menu li {
    float: left;
    position: relative;
}
#block-system-main-menu li ul {
    left: 0px;
    position: absolute !important;
    z-index: 999;
}